[Unit]
Description=IEEE 802.15.4 Forwarder
After=network-online.target
 
[Service]
Type=simple
 
User=i8utils
Group=i8utils

WorkingDirectory=/home/i8utils 
ExecStart=/usr/bin/python3.8 /home/i8utils/i8_forwarder.py /dev/%i 
 
Restart=on-failure
RestartSec=5
